@model ICollection<FileViewModel>

@{
    ViewBag.Title = "All Files";
}

 <div class="text-center mb-5">
    <h2>Uploaded Files</h2>
 </div>

<table class="table">
    <thead>
        <tr>
            <th>File Name</th>
            <th>Size (MB)</th>
            <th>Delete File</th>
            <th>Download</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var file in Model)
        {
            <tr>
                <td>@file.Name</td>
                <td>@file.Size</td>
                <td>
                    <a asp-area="" asp-controller="File" asp-action="Delete" asp-route-id="@file.Id" class="btn btn-outline-danger">Delete</a>
                </td>
                <td>
                    <a asp-area="" asp-controller="File" asp-action="Download" asp-route-id="@file.Id" class="btn btn-outline-primary">Download</a>
                </td>
            </tr>
        }
    </tbody>
</table>
